<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
      <add key="search.url.1" value="https://hydi.um.edu.mt/primo-explore/search?query=any,contains,thrombo*%20AND%20hemorrag*%20AND%20brain%20tumo*,AND&amp;pfilter=lang,exact,eng,AND&amp;pfilter=creationdate,exact,20-YEAR,AND&amp;tab=default_tab&amp;search_scope=all&amp;sortby=rank&amp;vid=356MALT_VU1&amp;lang=en_US&amp;mode=advanced&amp;offset=0"/>
      <add key="search.url.2" value="https://hydi.um.edu.mt/primo-explore/search?query=any,contains,thrombo*%20AND%20hemorrag*%20AND%20brain%20tumo*%20AND%20cancer,AND&amp;pfilter=lang,exact,eng,AND&amp;pfilter=creationdate,exact,20-YEAR,AND&amp;tab=default_tab&amp;search_scope=all&amp;sortby=rank&amp;vid=356MALT_VU1&amp;lang=en_US&amp;mode=advanced&amp;offset=0"/>
  </appSettings>
</configuration>